*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
    padding: inherit;
}
body{
    font-family: 'Inter';
    color: #111111;
}
h2, h4{
    font-family: 'Montserrat';
}
span{
    border-radius: 50%;
}
.btn{
    border-radius: 200px;
    padding: 10px 24px 10px 24px;
}
#navbarNav{
    justify-content: end;
    color: #111;
}
.navbar-nav .nav-item a{
    padding: 20px !important;
}
#navbarNav .dropdown-menu li a{
    padding: 10px;
}
.dropdown-menu .nav-item{
 padding-bottom: 10px;
}
#search-input{
    border: none;
}
.search-icon{
    cursor: pointer;
}

#home{
    background: #DCC1AB;
    position: relative;
}
.section-title{
    color:#F5F0EC;
}
.content{
    display: flex;
}
.content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 40px;
}

.slider {
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-left: 0px;
  }
  
  .slides {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .slide {
    width: 850px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    font-size: 24px;

  }
  
  .prevButton, .nextButton {
    position: absolute;
    top: 97%;
    transform: translateY(-50%);
    padding:20px;
    background-color: #F5F0EC;
    color: #111;
    border: none;
    cursor: pointer;
  }
  
  .prevButton {
    right: 32px;

  }
  
  .nextButton {
    right: 0px;
  }



#offer{
    background: #F5F0EC;
    padding: 100px 0px 120px 0px;
    display: flex;
    flex-direction: column;

    
}
#offer .section-title{
    color: #1B5B31;
    margin-bottom: inherit;
}
.offer-content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: start;
    gap: 16px;
    padding-bottom: 80px;

}
.offer-box{
    background:white;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    cursor: pointer;
    height: 100%;
    transition:box-shadow 0.3s ease;
}
.offer-box:hover{
box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.offer-box img{
    width: 30px;
    height: 25px;
}
.custom-link i{
    padding-left: 10px;
}
.offer-box .icon{
   border: none ;
   padding-bottom: 32px;
   flex-shrink: 0;
}
.custom-link::after{
    content: "";
    border-bottom: 1px #1B5B31;
    flex-grow: 1;
}
.custom-link{
    color:#1B5B31;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #1B5B31;
}
.custom-link:hover{
color: #0056b3;
border-bottom: none;
}
#about{
    color: white;
}
.about_content{
background: #1B5B31;
display: flex;
flex-direction: column;
justify-content:center;
align-items: flex-start;

}
.about-btn{
    border:1px solid #F5F0EC;
    color: white;
}
.about_box{
    padding: 20px;
}
#projects{
    background: #DCC1AB;
    padding-top: 100px;
    position: relative;
}
.image-gallery {
    columns: 3;
    margin: 20px auto;
    column-gap: 40px;
    padding-top: 60px;
}
.gallery-hidden{
    columns: 3;
    margin: 20px auto;
    column-gap: 40px;
}
.gallery-item{
    margin-bottom: 40px;
}
.image-gallery > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery-item img  {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    background: rgba(255,255,255,0.02);
}
.gallery-hidden{
    display: none;
}
.expanded{
display: block;
}
.unexpanded{
    display: none;
}
#projects .section-title{
    color: #1B5B31;
}
.buttons{
    align-items: center;
    gap: 26px;
}
.loading{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    position: absolute;
    bottom: 5rem;
}

.hide{
    display: none;
}


.load-btn{
    border: 1px solid  #111;
}
#contact{
    padding: 60px 0px;
}
.contact-box{
    background: #1B5B31;
    color: #F5F0EC;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-btn{
    background: #F5F0EC !important;
    color: #1B5B31;
}
.image-container{
    background: url(images/about_us.jpg) center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
 
}


footer{
    background: #111111;
    color: white;
    padding: 80px 20px;
}
.subscribe{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn-subscribe{
    background: #1B5B31;
    color: #F5F0EC;
}
.btn-realize{
    color: #1B5B31;
    background:transparent;
    border: 1px solid #1B5B31;
}
.socials{
    display: flex;
    justify-content: space-between;
}
.social{
    display: flex;
    gap: 1rem;
    padding-left: 0px;
}
.social-right a{
    padding: 20px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.footer-line{
    margin-top: 50px;
    margin-bottom: 50px;
}
@media(max-width:768px){
   .content{
    flex-direction: column;
   }
    .footer-bottom{
        flex-direction: column;
    }
    .image-gallery{
        columns:2;  
    }
    .gallery-hidden{
        columns:2;
    }
}
@media(max-width:768px){

     .image-gallery{
         columns:1;  
     }
     .gallery-hidden{
         columns:1;
     }
 }

